body {
    margin: 0;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.4;
    color: #727272;
    background-color: #ffffff;
}

a {
    color: #ebc200;
}

a:hover,
a:active {
    color: #a48700;
}

a.totext {
    color: inherit;
}

a.totext:hover,
a.totext:active {
    color: inherit;
    text-decoration: none;
}

.text-featured,
.text-rotator {
    color: #ebc200;
}

.landing {
    background-color: #F2F2F2;
    z-index: 900;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.no-js .landing {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

.landing svg path {
    fill: #727272;
}

.landing .logo,
.landing .load {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.landing .logo {
    margin: 0;
    top: -13em;
    height: 100%;
    -webkit-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0);
}

.landing .logo svg {
    display: block;
    margin: 0 auto;
    width: 25em;
    height: 25em;
    margin: 0 auto;
}

.landing .logo svg path {
    stroke: none;
}

.landing svg {
    display: block;
    margin: 0 auto;
}

.landing .load {
    bottom: 20%;
}

.landing .load svg path {
    stroke-width: 6px;
    fill: none;
}

.landing .load .bg {
    stroke: #CCC;
}

.landing .load .tg {
    stroke: #727272;
    -webkit-transition: stroke-dashoffset 0.2s;
       -moz-transition: stroke-dashoffset 0.2s;
         -o-transition: stroke-dashoffset 0.2s;
            transition: stroke-dashoffset 0.2s;
}

.loading .landing .logo,
.loading .landing .load {
    opacity: 1;
    -webkit-animation: LandingInitializeHeader 800ms cubic-bezier(0.7, 0, 0.3, 1) both;
       -moz-animation: LandingInitializeHeader 800ms cubic-bezier(0.7, 0, 0.3, 1);
         -o-animation: LandingInitializeHeader 800ms cubic-bezier(0.7, 0, 0.3, 1);
            animation: LandingInitializeHeader 800ms cubic-bezier(0.7, 0, 0.3, 1);
}

.loading .landing .load {
    -webkit-animation-delay: 0.2s;
       -moz-animation-delay: 0.2s;
         -o-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.loaded .landing .logo,
.loaded .landing .load {
    opacity: 1;
}

.loaded .landing .logo {
    -webkit-transform-origin: 50% 0;
       -moz-transform-origin: 50% 0;
         -o-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-animation: LandingFinalizeLogo 2s cubic-bezier(0.7, 0, 0.3, 1) forwards;
       -moz-animation: LandingFinalizeLogo 2s cubic-bezier(0.7, 0, 0.3, 1);
         -o-animation: LandingFinalizeLogo 2s cubic-bezier(0.7, 0, 0.3, 1);
            animation: LandingFinalizeLogo 2s cubic-bezier(0.7, 0, 0.3, 1);
}

.loaded .landing .load {
    -webkit-animation: LandingFinalizeLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
       -moz-animation: LandingFinalizeLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1);
         -o-animation: LandingFinalizeLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1);
            animation: LandingFinalizeLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.loaded .landing {
    -webkit-animation: LandingFinalizeHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
       -moz-animation: LandingFinalizeHeader 1s cubic-bezier(0.7, 0, 0.3, 1);
         -o-animation: LandingFinalizeHeader 1s cubic-bezier(0.7, 0, 0.3, 1);
            animation: LandingFinalizeHeader 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.loaded .container-fluid > .row {
    -webkit-animation: LandingFinalizeContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
       -moz-animation: LandingFinalizeContent 1s cubic-bezier(0.7, 0, 0.3, 1);
         -o-animation: LandingFinalizeContent 1s cubic-bezier(0.7, 0, 0.3, 1);
            animation: LandingFinalizeContent 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.loaded .container-fluid > .row:nth-child(1) {
    -webkit-animation-delay: 0ms;
       -moz-animation-delay: 0ms;
         -o-animation-delay: 0ms;
            animation-delay: 0ms;
}

.loaded .container-fluid > .row:nth-child(2) {
    -webkit-animation-delay: 100ms;
       -moz-animation-delay: 100ms;
         -o-animation-delay: 100ms;
            animation-delay: 100ms;
}

.loaded .container-fluid > .row:nth-child(3) {
    -webkit-animation-delay: 200ms;
       -moz-animation-delay: 200ms;
         -o-animation-delay: 200ms;
            animation-delay: 200ms;
}

.loaded .container-fluid > .row:nth-child(4) {
    -webkit-animation-delay: 300ms;
       -moz-animation-delay: 300ms;
         -o-animation-delay: 300ms;
            animation-delay: 300ms;
}

@-webkit-keyframes LandingInitializeHeader {
    from { opacity: 0; -webkit-transform: translate3d(0, 800px, 0); }
}

@keyframes LandingInitializeHeader {
    from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

@-webkit-keyframes LandingFinalizeHeader {
    to { -webkit-transform: translate3d(0,-200%,0); }
}

@keyframes LandingFinalizeHeader {
    to { -webkit-transform: translate3d(0,-200%,0); transform: translate3d(0,-200%,0); }
}

@-webkit-keyframes LandingFinalizeLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes LandingFinalizeLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@-webkit-keyframes LandingFinalizeLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes LandingFinalizeLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@-webkit-keyframes LandingFinalizeContent {
    from { opacity: 0; transform: translate3d(0, 200px, 0); }
}

@keyframes LandingFinalizeContent {
    from { opacity: 0; transform: translate3d(0, 200px, 0); }
}

.navbar {
    border: 0;
    margin: 0;
    border-radius: 0;
    height: 100px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    float: left;
    height: 99px;
}

.navbar-brand h1 {
    font-size: 28px;
    margin: 28px 0;
    padding: 10px 0 0 10px;
    float: left;
    font-weight: 100;
}

@media (min-width: 920px) {
    .navbar-default .navbar-nav > li > a {
        padding: 40px 20px;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #ebc200;
    }
}

.contact-row {
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}

.contact-row,
.contact-row a {
    color: inherit;
    text-decoration: none;
}

.contact-row a {
    padding: 10px 0;
    text-align: center;
    border-width: 0;
    border-color: #f2f2f2;
    border-style: solid;
    border-left-width: 1px;
    color: inherit;
    transition: background 0.35s;
}

.contact-row a:hover {
    background: #fbfbfb;
    text-decoration: none;
    cursor: pointer;
}

.contact-row a.unlink:hover {
    background: inherit;
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

.contact-row a:last-child {
    border-right-width: 1px;
}

.contact-row span {
    margin-left: 8px;
}

.header-row,
.footer-row {
    background: #fbfbfb;
    background: rgba(251, 251, 251, 0.95);
    border-bottom: 1px solid #f2f2f2;
    border-bottom: 1px solid rgba(242, 242, 242, 0.95);
    height: 100px;
    z-index: 2000;
    position: static;
    top: 0;
    opacity: 1;
}

.header-row img,
.footer-row img {
    height: 99px;
}

.header-row h3,
.footer-row h3 {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 400;
}

.header-row img,
.header-row h3,
.footer-row img,
.footer-row h3 {
    float: left;
}

.footer-row {
    padding-top: 51px;
    height: 200px;
}

.carrousel {
    position: relative;
}

.carrousel > div {
    position: absolute;
    width: 100%;
    top: 0;
    color: #fff;
    opacity: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #333;
    background-position: center center;
    overflow: hidden;
    -webkit-transition: opacity 700ms ease;
       -moz-transition: opacity 700ms ease;
         -o-transition: opacity 700ms ease;
            transition: opacity 700ms ease;
}

.carrousel,
.carrousel > div {
    min-height: 535px;
}

.carrousel h1 {
    font-size: 3em;
    line-height: 1.4em;
}

.carrousel h3 {
    font-weight: 300;
}

.carrousel .btn {
    margin: 20px 10px 0 0;
}

.carrousel > div.current {
    position: relative; 
    z-index: 100;
    pointer-events: auto;
    opacity: 1;
}

.carrousel > div:before,
.carrousel > div:after {
    content: " ";
    display: table;
}

.carrousel > div:after {
    clear: both;
}

.carrousel .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background: #ebc200;
    z-index: 120;
}

.section-row {
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 1.3em;
    line-height: 2.2;
    border-top: 1px solid #f2f2f2;
}

.section-row h1 {
    margin-bottom: 40px;
}

.scroller {
    overflow: hidden;
}

.scroller .section-row > div {
    overflow: hidden
}

.scroller .section-row > div:before,
.scroller .section-row > div:after {
    content: " ";
    display: table;
}

.scroller .section-row > div:after {
    clear: both;
}

.scroller-init {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.scroller-animate {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}

.text-rotator span {
    display: none;
}

.text-rotator span:first-child {
    display: inline;
}

.galery {
    overflow: hidden;
    cursor: pointer;
}

.galery > a {
    padding-left: 0;
    padding-right: 0;
}

.galery .caption {
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.galery .caption::before,
.galery .caption::after {
    pointer-events: none;
}

.galery .caption,
.galery .caption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.galery .caption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.galery h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    margin: 0;
}

.galery h2 span {
    font-weight: 800;
    display: block;
}

.galery .item {
    background: #000;
}

.galery .item img {
    opacity: 0.6;
    height: 390px;
}

.galery .item h2 {
    padding-top: 26%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.35s;
    transition: 0.35s;
}

@media (min-width: 970px) {
    .galery .item .caption::before,
    .galery .item .caption::after {
        position: absolute;
        content: '';
        opacity: 0;
    }

    .galery .item .caption::before,
    .galery .item .caption::after {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }

    .galery .item .caption::before {
        border-top: 1px solid #ebc200;
        border-bottom: 1px solid #ebc200;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    .galery .item .caption::after {
        border-right: 1px solid #ebc200;
        border-left: 1px solid #ebc200;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    .galery .item img,
    .galery .item .caption::before,
    .galery .item .caption::after {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    .galery .item:hover img {
        opacity: 0.3;
    }

    .galery .item:hover .caption::before,
    .galery .item:hover .caption::after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .galery .item:hover h2 {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        color: #ebc200;
    }

    .galery .item:hover .caption::after,
    .galery .item:hover h2,
    .galery .item:hover img {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }
}

.content-header-row {
    padding: 40px 0;
    background: #727272;
    color: #fbfbfb;
}

.content-header-row h3,
.content-header-row h1 {
    margin: 5px 0;
}

.content-header-row h3 {
    font-size: 18px;
}

.content-header-row h1 {
    font-size: 36px;
}



.browsehappy {
    margin-top: 0;
    padding: 10px;
    background-color: #2196F3;
    color: #BBDEFB;
}

.browsehappy a {
    color: #303F9F;
}

.browsehappy a:hover {
    color: #3F51B5;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none
}

.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
       -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
         -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn.disabled,
.btn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}

.btn-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-weight: 300;
}

.btn-inverse:hover {
    color: #727272;
    background-color: #fff;
}

.hidden {
    display: none;
}

.announce {
  font: 14px/1.4 Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 10px;
}

.noscript {
  background: #E64A19;
  color: #FFCCBC;
}

.browsehappy {
  background: #0288D1;
  color: #B3E5FC;
}

.browsehappy a {
  color: #B3E5FC;
}

.browsehappy a:hover {
  color: #FFF;
}

@media (max-width:767px) {
    .text-adaptative {
        font-size: 26px !important;
    }
}

.makeby {
    margin: 0;
    text-align: center;
    background: #f8f8f8;
    font-size: 10px;
    padding: 15px;
}
