{% extends 'template.twig' %}

{% block head %}

	<title>Puma Detetives</title>

{% endblock   %}

{% block content %}

	<div class="row section-row">
		<div class="col-xs-12">
			<h1 class="text-center">{{ lang['h1'] }}</h1>
			<h2 class="text-center">{{ lang['h2'] }}</h2>
		</div>
	</div>

{% endblock %}
