{% extends 'template.twig' %}

{% block head %}

    <title>{{ lang['title'] }}</title>
    <meta name="description" content="Serviços de investigação particular com profissionalismo, ética e discrição total. Para escutas, fotos, filmagens, localizações contrate nossos detetives.">

    <meta property="og:title" content="Puma Detetives">
    <meta property="og:url" content="http://www.pumadetetives.com.br">
    <meta property="og:description" content="Serviços de investigação particular com profissionalismo, ética e discrição total. Para escutas, fotos, filmagens, localizações contrate nossos detetives.">

{% endblock %}

{% block content %}

    <div class="row carrousel">

        <span class="progress"></span>

        <div class="col-xs-12 current" style="background-image:url(img/carrousel/dossier.jpg)">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <h1 class="text-center text-adaptative">{{ lang['carrousel_inicial'] }}</h1>

                        <center>
                            <a href="#services" class="btn btn-inverse">{{ lang['veja_nossos_servicos'] }}</a>
                            <a href="#contact" class="btn btn-inverse contact-modal-toggle">{{ lang['contate_nos'] }}</a>
                        </center>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12" style="background-image:url(img/carrousel/virtual.jpg)">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <h1>{{ lang['monitoramento_virtual'] }}</h1>
                        <h3>{{ lang['monitoramento_virtual_descricao']}}</h3>
                        <a href="/{{ lang['lang'] }}/monitoramento-virtual" class="btn btn-inverse">{{ lang['saiba_mais'] }}</a>
                        <a href="#contact" class="btn btn-inverse contact-modal-toggle">{{ lang['contate_nos'] }}</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12" style="background-image:url(img/carrousel/dossier.jpg)">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <h1>{{ lang['dossies_fisicos_juridicos'] }}</h1>
                        <h3>{{ lang['dossies_fisicos_juridicos_descricao'] }}</h3>
                        <a href="/{{ lang['lang'] }}/investigacao-juridica" class="btn btn-inverse">{{ lang['saiba_mais'] }}</a>
                        <a href="#contact" class="btn btn-inverse contact-modal-toggle">{{ lang['contate_nos'] }}</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12" style="background-image:url(img/carrousel/empresarial.jpg)">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <h1>{{ lang['investigacao_empresarial'] }}</h1>
                        <h3>{{ lang['investigacao_empresarial_descricao'] }}</h3>
                        <a href="/{{ lang['lang'] }}/investigacao-empresarial" class="btn btn-inverse">{{ lang['saiba_mais'] }}</a>
                        <a href="#contact" class="btn btn-inverse contact-modal-toggle">{{ lang['contate_nos'] }}</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12" style="background-image:url(img/carrousel/juridico.jpg)">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <h1>{{ lang['investigacao_juridica'] }}</h1>
                        <h3>{{ lang['investigacao_juridica_descricao'] }}</h3>
                        <a href="/{{ lang['lang'] }}/investigacao-juridica" class="btn btn-inverse">{{ lang['saiba_mais'] }}</a>
                        <a href="#contact" class="btn btn-inverse contact-modal-toggle">{{ lang['contate_nos'] }}</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12" style="background-image:url(img/carrousel/infidelidade.jpg)">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <h1>{{ lang['infidelidade_conjugal'] }}</h1>
                        <h3>{{ lang['infidelidade_conjugal_descricao'] }}</h3>
                        <a href="/{{ lang['lang'] }}/investigacao-conjugal" class="btn btn-inverse">{{ lang['saiba_mais'] }}</a>
                        <a href="#contact" class="btn btn-inverse contact-modal-toggle">{{ lang['contate_nos'] }}</a>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row section-row" id="about">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <h1 class="text-center">
                            {{ lang['trabalhos_investigativos_com'] }}
                            <span class="text-rotator">
                                <span>{{ lang['etica'] }}</span>
                                <span>{{ lang['tecnologia'] }}</span>
                                <span>{{ lang['sigilo'] }}</span>
                                <span>{{ lang['discricao'] }}</span>
                            </span>
                        </h1>

                        <p class="text-justify">{{ lang['agencia_descricao_p1'] }}</p>
                        <p class="text-justify">{{ lang['agencia_descricao_p2'] }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section-row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-md-4">
                        <p class="text-justify">{{ lang['agencia_descricao_confianca']|raw }}</p>
                    </div>

                    <div class="clearfix visible-xs-block"></div>

                    <div class="col-xs-12 col-md-4">
                        <p class="text-justify">{{ lang['agencia_descricao_exito']|raw }}</p>
                    </div>

                    <div class="clearfix visible-xs-block"></div>

                    <div class="col-xs-12 col-md-4">
                        <p class="text-justify">{{ lang['agencia_descricao_sigilo']|raw }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
