{% extends 'template.twig' %}

{% block head %}

    <title>{{ lang['header'] }} - Puma Detetives</title>
    <meta name="description" content="{{ lang.description }}">

    <meta property="og:title" content="{{ lang['header'] }}">
    <meta property="og:url" content="http://www.pumadetetives.com.br{{ uri }}">
    <meta property="og:description" content="{{ lang.description }}">

{% endblock %}

{% block content %}

	<div class="row content-header-row" id="services">
        <div class="col-xs-12">
            <h1 class="text-center text-capitalize">
                {{ lang['header'] }}
            </h1>
        </div>
    </div>
    <div class="row section-row">
        <div class="col-xs-12">
            <div class="container">
                <div class="col-xs-12">
                	{{ lang['content']|raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
